{{> head}}
    {{> navbar }}

    <div class= "row">
        <div class="col-8">

            <h1>Jaime Escoto</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, sed asperiores. Sit voluptatum officia est veritatis ipsa repellat veniam similique, delectus laborum maxime aliquid, consequatur consequuntur voluptas tempora a quasi.
        </div>
        <div class= "col-4">

            <img src="/assets/img/Jaime.JPG" class="img-thumbnail" alt="Jaime Escoto">

        </div>


    </div>


    {{> footer}}